

OriginLatLong=146,-16
#StartLatLong=145.7458, -16.8736
StartLatLong=146.0001,-15.9999
#StartLatLong=145.72138085,-16.90054329

NearClipDistance=1.0

FarClipDistance=2048.0
EnableShadows=false

# Sky
EnableSky=true

# Ocean
EnableOcean = true
OceanSurfaceReflectionCubeMapWidth = 512
OceanSurfaceReflectionCubeMapHeight = 512
OceanSurfaceReflectionCubeMapUpdateDistanceThreshold = 0.1

# Terrain
EnableTerrain=true
TerrainVertexLightingEnabled=true
TerrainLightMapEnabled=false

TerrainPageSource=PerlinNoise

PageWidth=4096

MaxPixelError=10

ZeroLODPagePower=10

WorstLODPagePower=4

TilingPower=2

HeightShader=default

HUDOverviewMapHeightShader=rainbow


SeaLevel=0.0

DisableFog=false
FogExponent=0.0001
FogColor=0.1 0.244 0.295, 1


#UserDataPath=Data/alldata.kml

FirstPersonSpeed = 20

HUDOverviewMap.ViewSize=10000
HUDOverviewMap.FirstPersonMarkerSize=1

EnableWind=true
